<f:switch expression="{mode}">

    <f:case value="default">
        <div class="header" id="header">
            <f:render section="header" arguments="{_all}"/>
            <f:render section="fullnavigation" arguments="{_all}"/>
        </div>
    </f:case>



    <f:case value="affix">
        <div class="header header-affix" data-offset-top="80" data-nav-animation="slideInDown" id="header">
        <f:render section="header" arguments="{_all}"/>
        <f:render section="fullnavigation" arguments="{_all}"/>
        </div>
    </f:case>

    <f:defaultCase>
        <div class="header" id="header">
            <f:render section="header" arguments="{_all}"/>
            <f:render section="fullnavigation" arguments="{_all}"/>
        </div>
    </f:defaultCase>

</f:switch>


<f:section name="header">

    <!-- GLOBAL SEARCH -->
    <div id="sctGlobalSearch" class="global-search-wrapper slider-opt-height">
        <div class="container relative">
            <form class="form-horizontal form-global-search">
                <div class="form-group col-xs-10">
                    <input type="text" class="search-input" placeholder="Type here ...">
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-6 btn-6b btn-base-5 btn-nobg">
                        <span class="hidden-xs hidden-sm">Search</span>
                        <i class="hidden-lg hidden-md fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <button type="button" class="global-search-close-btn css-animate"
                data-target="#sctGlobalSearch" title="Close search bar">
            <i class="icon ion-close-round"></i>
        </button>
    </div>

</f:section>


<f:section name="fullnavigation">
    <!-- NAVBAR -->
    <nav class="navbar navbar-main navbar-shadow" id="slide-nav">
        <div class="container relative">
            <div class="navbar-header">
                <!-- LOGO -->
                <div class="navbar-logo">
                {logo -> f:format.raw()}
                </div>

                <!-- NAVBAR TOGGLE -->
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- NAVBAR SEARCH - for mobile resolutions -->
                <button type="button" class="navbar-icon-btn css-animate"
                        data-target="#sctGlobalSearch">
                    <i class="fa fa-search"></i>
                </button>

                <!-- SLIDEBAR TOGGLE -->
                <button type="button" class="navbar-icon-btn btn-st-trigger"
                        data-effect="st-effect-1">
                    <i class="fa fa-dedent"></i>
                </button>
            </div>

            <div id="slidemenu">

                <!-- Navbar links -->
                {FullNavigation -> f:format.raw()}

            </div>
        </div>
        <!-- Global search for large resolutions only -->
        <div id="btnGlobalSearch" class="navbar-search css-animate"
             data-target="#sctGlobalSearch">
            <a href="#" class="navbar-search-icon"></a>
        </div>
    </nav>
</f:section>