<f:switch expression="{mode}">

    <f:case value="default">
        <div class="header" id="header">
            <f:render section="header" arguments="{_all}"/>
            <f:render section="fullnavigation" arguments="{_all}"/>
        </div>
    </f:case>



    <f:case value="affix">
        <div class="header header-affix" data-offset-top="80" data-nav-animation="slideInDown" id="header">
        <f:render section="header" arguments="{_all}"/>
        <f:render section="fullnavigation" arguments="{_all}"/>
        </div>
    </f:case>

    <f:defaultCase>
        <div class="header" id="header">
            <f:render section="header" arguments="{_all}"/>
            <f:render section="fullnavigation" arguments="{_all}"/>
        </div>
    </f:defaultCase>

</f:switch>


<f:section name="header">



</f:section>


<f:section name="fullnavigation">
    <!-- NAVBAR -->
    <nav class="navbar navbar-main navbar-shadow" id="slide-nav">
        <div class="container relative">
            <div class="navbar-header">
                <!-- LOGO -->
                <div class="navbar-logo">
                {logo -> f:format.raw()}
                </div>

                <!-- NAVBAR TOGGLE -->
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>

            <div id="slidemenu">

                <!-- Navbar links -->
                {FullNavigation -> f:format.raw()}

            </div>
        </div>

    </nav>
</f:section>